<div class="contact-info">
    <div class="contact-method">
        <h4>General Inquiries</h4>
        <a href="mailto:contact@web3streaming.example">contact@web3streaming.example</a>
    </div>

    <div class="contact-method">
        <h4>Creator Support</h4>
        <a href="mailto:creators@web3streaming.example">creators@web3streaming.example</a>
    </div>

    <div class="contact-method">
        <h4>Technical Support</h4>
        <a href="mailto:support@web3streaming.example">support@web3streaming.example</a>
    </div>

    <div class="contact-method">
        <h4>Press</h4>
        <a href="mailto:press@web3streaming.example">press@web3streaming.example</a>
    </div>
</div>