<div class="partners-carousel">
    <div class="partner">
        <img src="{{ '/assets/images/partners/ethereum-logo.png' | relative_url }}" alt="Ethereum Foundation"
            class="partner-logo">
    </div>
    <div class="partner">
        <img src="{{ '/assets/images/partners/polygon-logo.png' | relative_url }}" alt="Polygon" class="partner-logo">
    </div>
    <div class="partner">
        <img src="{{ '/assets/images/partners/ipfs-logo.png' | relative_url }}" alt="IPFS" class="partner-logo">
    </div>
    <div class="partner">
        <img src="{{ '/assets/images/partners/chainlink-logo.png' | relative_url }}" alt="Chainlink"
            class="partner-logo">
    </div>
    <div class="partner">
        <img src="{{ '/assets/images/partners/livepeer-logo.png' | relative_url }}" alt="Livepeer" class="partner-logo">
    </div>
</div>